[Unit]
Description=Overseerr ({{ flaresolverr_identifier }})
{% for service in flaresolverr_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in flaresolverr_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ flaresolverr_container_stop_grace_time_seconds }} {{ flaresolverr_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ flaresolverr_identifier }} 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
			--rm \
			--name={{ flaresolverr_identifier }} \
			--log-driver=none \
			--user={{ flaresolverr_uid }}:{{ flaresolverr_gid }} \
			--cap-drop=ALL \
			--read-only \
			--network={{ flaresolverr_container_network }} \
			{% if flaresolverr_container_http_bind_port %}
			-p {{ flaresolverr_container_http_bind_port }}:{{ flaresolverr_container_http_port }} \
			{% endif %}
			--env-file={{ flaresolverr_base_path }}/env \
			--label-file={{ flaresolverr_base_path }}/labels \
			{% for volume in flaresolverr_container_additional_volumes %}
			--mount type={{ volume.type | default('bind' if '/' in volume.src else 'volume') }},src={{ volume.src }},dst={{ volume.dst }}{{ (',' + volume.options) if volume.options | default('') else '' }} \
			{% endfor %}
			{% for arg in flaresolverr_container_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			{{ flaresolverr_container_image }}

{% for network in flaresolverr_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ flaresolverr_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ flaresolverr_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ flaresolverr_container_stop_grace_time_seconds }} {{ flaresolverr_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ flaresolverr_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ flaresolverr_identifier }}

[Install]
WantedBy=multi-user.target
