{% if flaresolverr_container_labels_traefik_enabled %}
traefik.enable=true

{% if flaresolverr_container_labels_traefik_docker_network %}
traefik.docker.network={{ flaresolverr_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if flaresolverr_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ flaresolverr_identifier }}-slashless-redirect.redirectregex.regex=^({{ flaresolverr_container_labels_traefik_path_prefix | quote }})$
traefik.http.middlewares.{{ flaresolverr_identifier }}-slashless-redirect.redirectregex.replacement=${1}/
{% set middlewares = middlewares + [flaresolverr_identifier + '-slashless-redirect'] %}
{% endif %}

{% if flaresolverr_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ flaresolverr_identifier }}-strip-prefix.stripprefix.prefixes={{ flaresolverr_container_labels_traefik_path_prefix }}
{% set middlewares = middlewares + [flaresolverr_identifier + '-strip-prefix'] %}
{% endif %}

traefik.http.routers.{{ flaresolverr_identifier }}.rule={{ flaresolverr_container_labels_traefik_rule }}
{% if flaresolverr_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ flaresolverr_identifier }}.priority={{ flaresolverr_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.{{ flaresolverr_identifier }}.service={{ flaresolverr_identifier }}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ flaresolverr_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ flaresolverr_identifier }}.entrypoints={{ flaresolverr_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ flaresolverr_identifier }}.tls={{ flaresolverr_container_labels_traefik_tls | to_json }}
{% if flaresolverr_container_labels_traefik_tls %}
traefik.http.routers.{{ flaresolverr_identifier }}.tls.certResolver={{ flaresolverr_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ flaresolverr_identifier }}.loadbalancer.server.port={{ flaresolverr_container_http_port }}
{% endif %}

{{ flaresolverr_container_labels_additional_labels }}
